<div class="container">
  <div class="row bg-dark text-light p-2">
    <div class="col-1">
        <h5>Id</h5>
    </div>
    <div class="col">
      <h5>Title</h5>
    </div>
    <div class="col">
      <h5>Body</h5>
    </div>
    <app-button class="d-flex justify-content-end" [label]="'Add'" (action)="addPost($event)"></app-button>
  </div>
  <div class="row bg-white p-2">
    <div class="col-1">
      1
    </div>
    <div class="col">
      Sunt aut facere repellat provident occaecati excepturi optio reprehenderit
    </div>
    <div class="col">
      <p>Quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto</p>
      <a href="#" class="d-flex justify-content-end">More details</a>
    </div>
  </div>
  <div class="row bg-light p-2">
    <div class="col-1">
      2
    </div>
    <div class="col">
      Qui est esse
    </div>
    <div class="col">
      <p>Est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla</p>
      <a href="#" class="d-flex justify-content-end">More details</a>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<div class="container">
  <div class="card">
    <h5 class="card-header bg-dark text-light d-flex justify-content-between">
      <span>Post list</span>
      <app-button class="d-flex justify-content-end" [label]="'Add'" (action)="addPost($event)"></app-button>
    </h5>
    <div class="card-body bg-light">
      <h5 class="card-title">Sunt aut facere repellat provident occaecati excepturi optio reprehenderit</h5>
      <p class="card-text">Quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto</p>
      <a href="#" class="card-link">More details</a>
    </div>
    <div class="card-body bg-light">
      <h5 class="card-title">Qui est esse</h5>
      <p class="card-text">Est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla</p>
      <a href="#" class="card-link">More details</a>
    </div>
  </div>
</div>
